/* media query for tablet */
/* media query for desktop */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */
body {
  color: #545150;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  display: block;
  width: 90%;
  margin: 0 auto;
  background-color: #f4f1ec;
  padding-top: 2rem;
}
@media only screen and (min-width: 768px) {
  main {
    padding-top: 0;
  }
}

.hero-container {
  display: block;
}
@media only screen and (min-width: 768px) {
  .hero-container {
    display: flex;
    justify-content: center;
    padding: 4rem 2rem 0;
    gap: 3rem;
  }
}
