@use "breakpoints" as breakpoints;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545150;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}
main {
  display: block;
  width: 90%;
  margin: 0 auto;
  background-color: #f4f1ec;
  padding-top: 2rem;
  @include breakpoints.medium {
    padding-top: 0;
  }
}

.hero-container {
  display: block;

  @include breakpoints.medium {
    display: flex;
    justify-content: center;
    padding: 4rem 2rem 0;
    gap: 3rem;
  }
}
